<div style="background-color: lightblue;padding-bottom: 11%;">
    <div align="right" style="padding-top: 3%; padding-right: 5%; background-color: blue;">
        <button  type="submit"  class="btn btn-dark " [routerLink]=" [ '/logindashboard'] ">Go To Home Page</button>
    </div>
    <div align="center" style="padding-top: 5%; padding-bottom: 5%; font-size: x-large;">
        <div style="background-color: bisque; width: 20%;">{{warning}}</div>
    </div>

    <form #changepasswordForm="ngForm" class="myform" (ngSubmit)=changePassword(changepasswordForm) novalidate>
        <table align="center">
            <tr>
                <td>
                    <label for="pass1">Enter Login Password</label> </td>
                <td style="padding-left: 10%;">
                    <input type="password"  name="pass1"  [(ngModel)]="pass1"  required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pass2"> Confirm Password </label>
                </td>
                <td style="padding-left: 10%;">
                    <input type="password"  name="pass2"  [(ngModel)]="pass2" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pass3">Enter Transaction Password </label>
                </td>

                <td style="padding-left: 10%;">
                    <input type="password"  name="pass3"  [(ngModel)]="pass3" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pass4">Confirm Transaction Password </label>
                </td>
                <td style="padding-left: 10%;">
                    <input type="password"  name="pass4"  [(ngModel)]="pass4" required>
                </td>
            </tr>
        </table><br>
        <table align="center">
            <td><button type="Reset" class="btn btn-secondary">Reset</button></td>
            <td style="padding-left: 2%;"><button type="submit" class="btn btn-success" [disabled]="!changepasswordForm.valid">Submit</button></td>
        </table>
    </form>
</div>