<div align="right" style="padding-right: 5%;padding-top: 3%; background-color: blue;">
    <button  type="submit"  class="btn btn-dark" [routerLink]="['']">Go To Home Page</button>
</div>
<div align="center">
    <p style="font-size: xx-large; padding-top: 5%;">Set Your New Password</p>
    <table style="margin-top: 5em;">
        <tr>
            <td>New Password</td>
            <td style="padding-left: 10%;"><input type="password" [(ngModel)]="pass1" placeholder="Set your Password"></td>
        </tr><br>
        <tr>
            <td>Confirm Password</td>
            <td style="padding-left: 10%;"><input type="password" [(ngModel)]="pass2" placeholder="Confirm your Password"></td>
        </tr><br><br>
    </table>
    <div>
        <button type="button" class="btn btn-primary btn-sm" (click)="clicked()">Submit</button>
    </div><br>
    <div style="color: green;">{{temp}}</div>
</div>