<div style="background-color: lightblue; padding-bottom: 13.5%;">
    <div align="right" style="padding-top: 3%; padding-right: 5%; background-color: blue;">
        <button  type="submit"  class="btn btn-dark" [routerLink]="['']">Go To Home Page</button>
    </div>
    <div align="center" style="padding-top: 10%;">
        <table align="center">
            <tr>
                <td style="font-size: x-large;">Enter Your Account Number</td>
                <td>
                    <div style="padding-left: 20%; padding-right: 20%;"><input type="number" [(ngModel)]="accno" placeholder="Enter your Account Number"></div>
                </td>
                <td style="padding-left: 8%;">
                    <div>
                        <button type="button" class="btn btn-success" (click)="clicked()">Submit</button>
                    </div>
                </td>
            </tr>
        </table><br>
        <div align="center" style="color: red; font-weight: 500;">
            {{tempo}}
        </div>
        <div style="padding-top: 5%;">
            <table align="center ">
                <td style="font-size: x-large;">Enter Your OTP</td>
                <td style="padding-left: 25%;">
                    <input type="text" [(ngModel)]="otp" placeholder="Enter your OTP">
                </td>
                <td style="padding-left: 27%;">
                    <button type="button" class="btn btn-success" (click)="clickedotp()">Submit</button>
                </td>
            </table>
        </div>
    </div>
</div>