<div style="background-color: black;">
    <div align="right" style="padding-right: 5%;padding-top: 3%; background-color: blue;">
        <button  type="submit"  class="btn btn-dark" [routerLink]="['']">Go To Home Page</button>
    </div>
    <h3 align="center" style="padding-top: 3%;padding-bottom: 2%; font-weight: 600 ; background-color: bisque;">ADMIN LOGIN</h3>
    <h5 align="center" style="padding-top: 3%;padding-bottom: 5%;color: red;">{{warning}}</h5>

    <form #adminLoginForm="ngForm" class="myform" (ngSubmit)=validateLogin(adminLoginForm) novalidate>
        <table style="color: white; font-weight: 500;" align="center">
            <tr>
                <td>Login Username</td>
                <td style="padding-left: 10%;"><input type="number" [(ngModel)]="admin.id" name="id" placeholder="Login Id"></td>
            </tr>
            <tr>
                <td style="padding-top: 8%;">Login Password</td>
                <td style="padding-top: 8%; padding-left: 10%;"><input type="password" [(ngModel)]="admin.pass" name="pass" placeholder="Login Password"> </td>
            </tr>
        </table>
        <div style="padding-top: 4%; padding-bottom: 6%;" align=" center "><button type="submit " class="btn btn-primary " [disabled]="!adminLoginForm.valid ">Log In</button></div>
    </form>
</div>